<div class="w-full max-w-fullHd">

  <!--  Backend list -->

  <div>
    <div class="flex justify-center items-center top-0 z-10 sticky w-full">
      <div
        class="px-5 mb-2 py-3 grid text-center text-black dark:text-white w-full bg-portfolioBg dark:bg-portfolioBgDark">
        <span class="text-4xl xl:text-6xl font-OpenSans-Bold"> Haupttätigkeit Backend: </span>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 grid-flow-row ">
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#512BD4] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">.NET Core</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#512BD4] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">ASP.NET</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#652076] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Entity Framework</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#239120] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">C#</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#CC2927] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">T-SQL (MSSQL)</span>
      </div>
    </div>

  </div>

  <div class="my-14"></div>

  <div>

    <!--  Web list -->
    <div class="flex justify-center items-center top-0 z-10 sticky">
      <div
        class="px-5 mb-2 py-3 grid text-center text-black dark:text-white w-full bg-portfolioBg dark:bg-portfolioBgDark">
        <span class="text-4xl xl:text-6xl font-OpenSans-Bold"> Web: </span>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 grid-flow-row ">
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#dd0132] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Angular</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#06B6D4] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">tailwindcss</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#FF7200] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">DevExtreme</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#f1652a] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">HTML</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#2865f1] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">CSS</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#CC6699] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">SASS</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#F7DF1E] flex justify-evenly justify-items-center text-black">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Javascript</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#3178C6] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Typescript</span>
      </div>
    </div>
  </div>


  <div class="my-14"></div>

  <div>
    <!--  Mobile list -->
    <div class="flex justify-center items-center top-0 z-10 sticky">
      <div
        class="px-5 mb-2 py-3 grid text-center text-black dark:text-white w-full bg-portfolioBg dark:bg-portfolioBgDark">
        <span class="text-4xl xl:text-6xl font-OpenSans-Bold"> Mobile: </span>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 grid-flow-row ">
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#02569B] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Flutter</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#0175C2] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Dart</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#F05138] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">Swift</span>
      </div>
      <div data-aos="zoom-in"
           class="m-3 p-3 rounded-lg shadow-widget bg-[#F05138] flex justify-evenly justify-items-center text-white">
        <span class="font-OpenSans-Bold text-4xl xl:text-5xl">SwiftUI</span>
      </div>
    </div>
  </div>
</div>

