<div class="h-fit">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="grid grid-cols-3 gap-4 p-3">
      <!--  <app-picture-Widget [pictureSrc]="['../assets/configurator_Screenshots/Configurator_HomeView.png', '../assets/configurator_Screenshots/Configurator_FormView.png', '../assets/configurator_Screenshots/Configurator_SponsorPage.png']"></app-picture-Widget>-->
      <app-picture-Widget
        [pictureSrc]="['../assets/images/epro/login.png']"></app-picture-Widget>
      <app-picture-Widget
        [pictureSrc]="['../assets/images/epro/home.png']"></app-picture-Widget>
      <app-picture-Widget
        [pictureSrc]="['../assets/images/epro/question.png']"></app-picture-Widget>
    </div>
    <div class="h-fit grid grid-rows-1 p-3 gap-8">
      <div data-aos="zoom-in" class="p-3">
        <div class="h-fit p-3 flex justify-items-center text-black dark:text-white flex-col">
          <span class="font-OpenSans-Bold text-4xl xl:text-5xl text-center">MedSurv ePRO</span>
          <span class="font-OpenSans-Bold text-1xl xl:text-2xl text-center">Eine App mit der Teilnehmer in vordefinierten Zyklen eingene Daten zu einer Studie erfassen können.</span>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row">
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#02569B] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">Flutter</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#0175C2] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">Dart</span>
        </div>
      </div>
    </div>
  </div>
</div>

