<div class="grid grid-flow-row content-center place-items-center">
  <az-home-View></az-home-View>
  <az-technology-View></az-technology-View>
  <div style="height: 10vh;"></div>
  <div class="w-full">
    <div class="flex justify-center items-center top-0 z-10 sticky w-full">
      <div
        class="px-5 mb-2 py-3 grid text-center text-black dark:text-white w-full bg-portfolioBg dark:bg-portfolioBgDark">
        <span class="text-4xl xl:text-6xl font-OpenSans-Bold">Portfolio</span>
      </div>
    </div>
    <div class="grid grid-flow-row content-center place-items-center">
      <az-projecty-view></az-projecty-view>
      <div class="h-16"></div>
      <!--      <app-projecty-web-view></app-projecty-web-view>-->
      <!--      <div class="h-16"></div>-->
      <az-configurator-View></az-configurator-View>
      <div class="h-16"></div>
      <az-eproconfigurator-view></az-eproconfigurator-view>
      <div class="h-16"></div>
      <az-epro-View></az-epro-View>
      <div class="h-16"></div>
      <az-gateway-View></az-gateway-View>
      <div class="h-16"></div>
      <az-mindofspace-view></az-mindofspace-view>
      <div class="h-16"></div>
    </div>
  </div>
</div>

