<div class="grid grid-flow-row place-content-center">
  <app-home-View></app-home-View>
  <app-technology-View></app-technology-View>
  <div style="height: 10vh;"></div>
  <div>
    <div class="flex justify-center items-center top-0 z-10 sticky">
      <div
        class="px-5 mb-2 py-3 grid text-center text-black dark:text-white w-full bg-portfolioBg dark:bg-portfolioBgDark">
        <span class="text-4xl xl:text-6xl font-OpenSans-Bold">Portfolio</span>
      </div>
    </div>
    <app-configurator-View></app-configurator-View>
    <div class="h-16"></div>
    <app-epro-View></app-epro-View>
  </div>
</div>
