<div class="h-fit max-w-fullHd">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex justify-center items-center p-3">
      <!--  <az-picture-Widget [pictureSrc]="['../assets/configurator_Screenshots/Configurator_HomeView.png', '../assets/configurator_Screenshots/Configurator_FormView.png', '../assets/configurator_Screenshots/Configurator_SponsorPage.png']"></az-picture-Widget>-->
      <az-picture-Widget
        [pictureSrc]="['../assets/images/mindofspace/MindOfSpace_Login.png',
        '../assets/images/mindofspace/MindOfSpace_Home.png',
        '../assets/images/mindofspace/MindOfSpace_Lobby.png',
        '../assets/images/mindofspace/MindOfSpace_InGame.png',
        '../assets/images/mindofspace/MindOfSpace_Dead.png']"></az-picture-Widget>
    </div>
    <div class="h-fit grid grid-rows-1 p-3 gap-8">
      <div data-aos="zoom-in" class="p-3">
        <div class="h-fit p-3 flex justify-items-center text-black dark:text-white flex-col">
          <span class="font-OpenSans-Bold text-4xl xl:text-5xl text-center">Mind Of Space</span>
          <span
            class="font-OpenSans-Bold text-1xl xl:text-2xl text-center">Ein Multiplayer-Weltraumspiel. (Schulprojekt)</span>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row">
        <span
          class="m-3 p-3 font-OpenSans-Bold text-2xl xl:text-3xl text-black dark:text-white text-center">Backend:</span>
        <div></div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#512BD4] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">ASP.NET Core</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#239120] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">C#</span>
        </div>
        <span
          class="m-3 p-3 font-OpenSans-Bold text-2xl xl:text-3xl text-black dark:text-white text-center">Web:</span>
        <div></div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#F7DF1E] flex justify-evenly justify-items-center text-black">
          <span class="font-OpenSans-Bold text-4xl xl:text-3xl">Javascript</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#06B6D4] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">Phaser</span>
        </div>
      </div>
    </div>
  </div>
</div>

