<div class="h-fit max-w-fullHd">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="grid grid-cols-3 gap-4" data-aos="zoom-in">
      <!--  <app-picture-Widget [pictureSrc]="['../assets/configurator_Screenshots/Configurator_HomeView.png', '../assets/configurator_Screenshots/Configurator_FormView.png', '../assets/configurator_Screenshots/Configurator_SponsorPage.png']"></app-picture-Widget>-->
      <div>
        <img class="drop-shadow-2xl" ngSrc="../assets/images/projecty/iPhoneProjectY1.png"
             alt="" width="1500" height="3000"/>
      </div>
      <div>
        <img class="drop-shadow-2xl" ngSrc="../assets/images/projecty/iPhoneProjectY2.png"
             alt="" width="1500" height="3000"/>
      </div>
      <div>
        <img class="drop-shadow-2xl" ngSrc="../assets/images/projecty/iPhoneProjectY3.png"
             alt="" width="1500" height="3000"/>
      </div>
    </div>
    <div class="h-fit grid grid-rows-1 p-3 gap-8">
      <div data-aos="zoom-in" class="p-3">
        <div class="h-fit p-3 flex justify-items-center text-black dark:text-white flex-col">
          <span class="font-OpenSans-Bold text-4xl xl:text-5xl text-center">Yellora</span>
          <span class="font-OpenSans-Bold text-1xl xl:text-2xl text-center">Eine Social-Media-Plattform, auf der sich Nutzer kreativ austoben und wohlfühlen können (Hobbyprojekt, in Entwicklung)</span>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row">
        <span
          class="m-3 p-3 font-OpenSans-Bold text-2xl xl:text-3xl text-black dark:text-white text-center">Backend:</span>
        <div></div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#512BD4] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">ASP.NET Core</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#239120] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">C#</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#CC2927] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">MSSQL</span>
        </div>
        <div></div>
        <span
          class="m-3 p-3 font-OpenSans-Bold text-2xl xl:text-3xl text-black dark:text-white text-center">App:</span>
        <div></div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#F05138] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">Swift</span>
        </div>
        <div data-aos="zoom-in"
             class="m-3 p-3 rounded-lg shadow-widget bg-[#F05138] flex justify-evenly justify-items-center text-white">
          <span class="font-OpenSans-Bold text-2xl xl:text-3xl">SwiftUI</span>
        </div>
      </div>
    </div>
  </div>
</div>

