.var-highlight {
  color: #ff7b72;
}

.object-highlight {
  color: #d2a8ff;
}


.string-highlight {
  color: #a4d6ff;
}

#typewriter {
  margin: 0;
  font-family: "Courier New";

  &:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
